#metronome-box{
  border: 1px solid black;
  width: 75%;
  margin:0 auto;
  font-family: 'Helvetica', sans-serif;
  background-color: #E9ECEB;
}

#metronome-box h1{
  font-size: 50px;
}

#metronome-box p{
  font-size: 30px;
}

#play-button, #hannah-button {
  padding: 15px;
  width: 250px;
  margin: 15px;
}

#play-button {
  background-color: #5CB259;
  font-size: 20px;
}

#hannah-button {
  background-color: #CC2E2E;
  font-size: 20px;
  color: white;
}

#play-button:hover, #hannah-button:hover {
  padding: 11px;
  width: 250px;
  margin: 15px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid black;
}

#countdown:hover {
background-image: url('/countdown.jpg');
background-size: contain;
background-repeat: no-repeat;
width: 300px;
height: 300px;
margin: 0 auto;
}

#countdown {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
